body {
  background-image: url(clownpoodle.jpg);
  display: inline; 
  text-align: left;
  color: #000;
  font-family: Garamond;
}

/* .front-page {
  background-image: url(clownpoodle.jpg);
  text-align: left;
  font-family: Garamond;
} */
