body {
  height: 100%;
  width: 100%;
  background-image: url(clownpoodle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline; 
  text-align: left;
  color: #000;
  font-family: Garamond;
}

.front-page {
  position: fixed;
  top: 0;
  left: 200px;
  border: 5px solid #000
}

a {
 background: burlywood;
}

p {
  display: inline;
}
