body {
  background-color: white;
  display: inline; 
  text-align: left;
  color: #000;
  font-family: Garamond;
}

.front-page {
  font-size: 37px;
  font-weight: 200;
  position: relative;
  top: 0;
  left: 42%;
  right: -58%;
  width: fit-content;
  padding: 8px;
  border: 2px dashed #000
}

.image {
  position: relative;
  top: 0;
  right: -50%;
}

a {
 background: burlywood;
}

p {
  display: inline;
}
